@{
    ViewBag.Title = "Home";
}

<div id="Greetings">
    @RenderPage("~/Views/Partial Views/_GreetingsPage.cshtml")
</div>

<div id="About">
    @RenderPage("~/Views/Partial Views/_AboutPage.cshtml")
</div>

<div id="Education">
    @RenderPage("~/Views/Partial Views/_EducationPage.cshtml")
</div>

<div id="Work">
    @RenderPage("~/Views/Partial Views/_WorkExperiencePage.cshtml")
</div>

@*<div id="Projects">
    @RenderPage("~/Views/Partial Views/_ProjectsPage.cshtml")
</div>*@

<div id="Contact">
    @RenderPage("~/Views/Partial Views/_ContactPage.cshtml")
</div>