@{
    ViewBag.Title = "Home";
}

<section id="Greetings">
    @RenderPage("~/Views/Partial Views/_GreetingsPage.cshtml")
</section>

<section id="About">
    @RenderPage("~/Views/Partial Views/_AboutPage.cshtml")
</section>

<section id="Education">
    @RenderPage("~/Views/Partial Views/_EducationPage.cshtml")
</section>

<section id="Work">
    @RenderPage("~/Views/Partial Views/_WorkExperiencePage.cshtml")
</section>

@*<div id="Projects">
    @RenderPage("~/Views/Partial Views/_ProjectsPage.cshtml")
</div>*@

<section id="Contact">
    @RenderPage("~/Views/Partial Views/_ContactPage.cshtml")
</section>

